<p>
  ---------------------------------------------------------------two-way
  works!---------------------------------------------------------------
</p>

<input type="text" [(ngModel)]="caralhinho" name="caralhinho" />

<button (click)="mostraCaralho(caralhinho)">Mostra</button>
<p *ngIf="caralhinho !== ''">O nome do caralhinho é: {{ botaPraFora }}</p>

<p>
  ---------------------------------------------------------------two-way
  works!---------------------------------------------------------------
</p>
